glassfish-web.xml
lib/
nbproject/
src/conf/MANIFEST.MF
build.xml
build/
persistence.xml
faces-config.xml
glassfish-resources.xml
web/WEB-INF/faces-config.xml
web/WEB-INF/glassfish-resources.xml
web/WEB-INF/web.xml
web.xml
dist/
Constants.java
web/WEB-INF/glassfish-web.xml
web/WEB-INF/*
src/java/com/mycompany/managers/Constants.java