/*********************************************
Cascading Style Sheets (CSS) Style Definitions
Composed by Osman Balci on April 14, 2017.
*********************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    /*---------------------------------------------------------------------------------
    Preferably, use a background color. Uncomment the one you like from examples below.
    See more HTML colors at http://www.w3schools.com/colors/colors_names.asp
    ---------------------------------------------------------------------------------*/
    /* background-color: #F0F8FF;   /* AliceBlue */
    /* background-color: #F0FFFF;   /* Azure */
    /* background-color: #F5F5DC;   /* Beige */
    /* background-color: #DCDCDC;   /* Gainsboro */
    /* background-color: #FFFFF0;   /* Ivory */
    /* background-color: #FDF5E6;   /* OldLace */
    /* background-color: #FFEFD5;   /* PapayaWhip */
    /* background-color: #F5DEB3;   /* Wheat */
    /* background-color: #B0E0E6;   /* PowderBlue */

    /* Stretch the background image to cover the entire screen. 
    This is used only if you choose to display a background image. */
    -webkit-background-size: cover; /* For WebKit */
    -moz-background-size: cover;    /* For Mozilla */
    -o-background-size: cover;      /* For Opera */
    background-size: cover;         /* Generic */
    background-repeat: no-repeat;   /* Do not repeat the image */
/*    padding: 0px;
    margin: 0px;*/
    width: 100%;                    /* Set page width horizontally 100% */
    height: 100%;                   /* Set page height vertically 100% */
}

/* Style the text used under the standard HTML tag "body" */
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
    background-color: #ECF0F1;
}

/* Style the text used under the standard HTML tag "p" for paragraph */
p {
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    color: black;
}

/* Style the text used under the standard HTML tag "h1" for header 1 */
h1 {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #006400; /* Dark Green */
}

/* Style the text used under the standard HTML tag "h2" for header 2 */
h2 {
    font-size: 20pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-weight: bold;
    color: #e74c3c; /* Maroon */
}

/*
==================
Styling Hyperlinks
==================
Hyperlinks (or links) are styled differently depending on what state they are in:
    a:link      - normal state (unvisited link)
    a:visited   - visited state (link clicked on by user earlier)
    a:hover     - mouse over state (link when the user hovers over it)
    a:active    - active state (link currently clicked on by user)
*/



a:link {
    text-decoration: none; /* Do not underline the link in normal state */
}

a:visited {
    text-decoration: none; /* Do not underline the link in visited state */
}

a:hover {
    text-decoration: underline; /* Underline the link in hover state */
}

a:active {
    text-decoration: underline; /* Underline the link in active state */
}

/*
===============================
Site Template Component Styling
===============================

In XHTML code, we refer to a CSS style defined in a CSS file by using Selectors. 

See CSS Selector Reference at http://www.w3schools.com/cssref/css_selectors.asp

#id defines the style of a page component whose unique identification is id.
.stylename defines the style of all elements marked as class="stylename" or
styleClass="stylename". Note that styleClass is converted to class.

Since id's are unique, the #id styling is used only once.
.stylename can be used many times to style a class of elements.
*/

/* 
Style the div component whose unique id is "page" per reference
<div id="page"> in siteTemplate.xhtml
*/
#page {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

#chat {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
    height: 500px;
}
/* 
Style the div component whose unique id is "header" per reference 
<div id="header"> in siteTemplate.xhtml
*/
#header {
background-color: white;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 3px;
    top: 0;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-right: 15px;
}
#header a{
    color: #e74c3c;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
}
/* 
Style the div component whose unique id is "editableContent" per reference 
<div id="editableContent"> in siteTemplate.xhtml
*/
#editableContent {
    /* height = 100% window height - (header height 84px + footer height 100px) */
    height: calc(100% - 184px); 
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 16px;
}
/* 
Style the div component whose unique id is "footer" per reference 
<div id="footer"> in siteTemplate.xhtml
*/
#footer {
    background-color: white;
    height: 100px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
}
/* 
Style the div component whose unique id is "footerPanelGrid" per reference
<h:panelGrid id="footerPanelGrid" columns="2"> in footerTemplate.xhtml 
*/
/*#footerPanelGrid {
    width: 80%;
}*/
/* 
Style the div component whose unique id is "rightAlignPanelGroup" per reference
<h:panelGroup id="rightAlignPanelGroup"> in footerTemplate.xhtml 
*/
#rightAlignPanelGroup {
    float: right;
}
/* 
Place the logo image on the left top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml
*/
.leftTopCornerAlign {
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px;
}
/* 
Place the navigation menu bar on the right top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml 
*/
.rightTopCornerAlign {
    position: absolute;
    right: 0;
    top: 12px;
    padding: 10px;
}

/*
=======================
Other Style Definitions
=======================
*/

/* 
Right align column 1 text and disallow line breaks per reference
<p:panelGrid columns="2" columnClasses="columnOne, columnTwo">
in Create.xhtml, View.xhtml, Edit.xhtml, StockQuote.xhtml. 
*/
.columnOne {
    text-align: right;
    white-space: nowrap;  /* Disallow line break */
    background-color: #F5DEB3;   /* Wheat */
}
/* 
Left align column 2 text and disallow line breaks per reference
<p:panelGrid columns="2" columnClasses="columnOne, columnTwo">
in Create.xhtml, View.xhtml, Edit.xhtml, StockQuote.xhtml.
*/
.columnTwo {
    text-align: left;
    white-space: nowrap;  /* Disallow line break */
    background-color: #FFEFD5;   /* PapayaWhip */
}

/* Style error messages text in UploadFile.xhtml */
.errorMessages {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    color: #800080; /* Purple */
}

/* Style alert message text in UploadFile.xhtml */
.alertMessage {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    color: #800080; /* Purple */
}

/* Style the data fields in Create.xhtml, View.xhtml, Edit.xhtml */
.dataFields {
    width: 300px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* Style the data fields in List.xhtml, SearchResults.xhtml */
.displayFields {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* Used in List.xhtml, SearchResults.xhtml */
.companyLogo {
    height: auto;
    width: 75px;
}

/*
==================================
Social Media Buttons Spin Animated
==================================
Animate the social media icons in footerTemplate.xhtml by spinning them
360 degrees on mouseover (hovering over).

CSS Transitions allow property changes in CSS values to occur smoothly over a
specified duration. This smoothing animates the changing of a CSS value when
triggered by a mouse click. The timing function value “all ease 0.3s” allows
the speed of the transition to change over time. 
*/
.social-roll {
    height: 36px;
    width: 36px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    -webkit-transition: all ease 0.3s;  /* For WebKit */
    -moz-transition: all ease 0.3s;     /* For Mozilla */
    -o-transition: all ease 0.3s;       /* For Opera */
    -ms-transition: all ease 0.3s;      /* For IE10+ */
    transition: all ease 0.3s;          /* Generic */
}

/* Mouseover (hovering over) the social media icon animates its 360-degree rotation */
.social-roll:hover {
    -webkit-transform:rotate(360deg);  /* For WebKit */
    -moz-transform:rotate(360deg);     /* For Mozilla */
    -o-transform:rotate(360deg);       /* For Opera */
    -ms-transform:rotate(360deg);      /* For IE10+ */
    transform:rotate(360deg);          /* Generic */
}

/*
=================================
Skinning PrimeFaces UI Components
=================================

Approach 1: 
    Check the documentation of a PrimeFaces UI component to identify
    which styles are used so that you can override them.

    You can also Inspect the UI element under the Chrome web browser
    to determine which CSS style is used so that you can override it. 

Approach 2: 
    Define a style in this file and apply it to the PrimeFaces element
    using the styleClass attribute to override the PrimeFaces style.

Styles are applied in a cascading order. To make sure that a
style is applied regardless of where the style is defined in the
cascading hierarchy, use the !important attribute.
*/

/* Override the style of the PrimeFaces p:menubar cascading menu in headerTemplate.xhtml */
.menubar {
    background: none;
    border: none;
}

/* Style PrimeFaces various UI component elements  */
.commandButton, .ui-confirmdialog-yes, .ui-confirmdialog-no, .ui-fileupload-choose, .ui-fileupload-upload, .ui-fileupload-cancel {
    border-radius: 2em !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
}

/*
Position the confirmation dialog box on the center of the screen per
reference <p:confirmDialog id="confirmDialogBox" ...> in Profile.xhtml
*/
#confirmDialogBox {
    top: 50%;
    left: 50%;
}

/* Leave 5px padding to left and right of p:dataTable */
.dataTable {
    padding-left: 5px;
    padding-right: 5px;
}
/* Override PrimeFaces style definitions for the Data Table component */
.ui-datatable-data, .facetHeader, .ui-panel-titlebar, .ui-paginator, .ui-dialog-content, .ui-confirm-dialog-message, .ui-widget-content {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/* Override PrimeFaces style definitions for the Data Grid component */
.ui-datagrid, .ui-datagrid-content, .ui-datagrid-data, .ui-datagrid-row, .ui-datagrid-column {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    background-color: #FDF5E6;   /* OldLace */
}

/* Override PrimeFaces style definitions for the Panel component */
.ui-panel, .ui-panel-content {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    background-color: #FDF5E6;   /* OldLace */
}

/* Override PrimeFaces style definitions for the Dialog component */
.ui-dialog, .ui-dialog-content, .ui-dialog-buttonpane {
    color: #800000; /* Maroon */
    background-color: #FDF5E6;   /* OldLace */
}

/* Override PrimeFaces style definition for the fileUpload component */
.ui-fileupload {
    width: 80%;
}

.ui-fileupload-buttonbar {
    /* padding values are specified in clockwise: Top, Right, Bottom, and Left */
    padding: 0px 0px 8px 0px !important;
}

.site-name{
    font-size: 42px !important;
}

.ui-widget-header{
    background: none;
    border: none;
    background-color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    font-size: 16px !important;
    background: none;
    background-color: white;
}

.ui-panel-titlebar {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.ui-state-default{
    font-size: 18px !important;
    color: black !important;
    
}

.ui-widget-content{
    text-shadow: none;
    color: black;
    background: none;
    background-color: white;
    box-shadow: none !important;
}

.ui-widget-header{
    padding: 5px !important;
    text-shadow: none;
    color: black;
    background: none;
    background-color: white;
    border: none !important;
    box-shadow: none !important;
}

.ui-state-highlight{
    background: none !important;
    background-color: #ecf0f1 !important;
}
.ui-datatable tbody td{
    text-shadow: none !important;
    color: black !important;
    padding: 15px !important;
    font-size: 14px;
}

.ui-slider .ui-slider-handle{
    background-color: #e74c3c !important;
}

.ui-state-hover{
    background: none !important;
    background-color: #ecf0f1 !important;
    text-shadow: none !important;
}

.ui-datatable-tablewrapper{
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-x: hidden !important;
}

.ui-button{
    border: 1px solid black !important;
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    cursor: pointer;
}

.ui-inputfield{
    font-size: 15px !important;
    font-weight: normal;
    padding: 7px !important;
    border: 1px solid black;
    box-shadow: none !important;
}

.ui-inputfield:hover{
    background-color: white !important;
}

#footer{
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

.signInInputTextField{
    width: 400px;
    padding: 10px !important;
    font-size: 18px !important;
}

.signInLabel{
    font-size: 20px;
    text-align: left;
}

.dish-desc{
    color: #e74c3c;
    font-weight: bold;
}

.dish-desc-view{
    font-size: 22px;
    font-weight: bold;
    color: #e74c3c;
}

.ui-panel-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

.custom-dialog{
    background-color: white !important;
}

#DishListForm{
    margin-top: 30px;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #b3b5b3; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.vertical-menu li {
    list-style-type: none;
}

.voting{
    height: 100%;
    float: left;
}
